.main{
    background-color: cyan;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    height: 3rem;
    max-height: fit-content;
}

