.body{
    background-image: url('/src/public/background.jpg');
    background-size:cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content button{
    width: 10em;
    cursor: pointer;
    height: 2em;
    color: black;
    background-color: red;
    border: 2px solid black;
    border-radius: 0.375rem;
}